html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.logga{
  height: 70px;
  width: auto;
  padding-right: 20px;
}

.nav-item{
  background-color: #e9f2ff;
  border-radius: 0px;
  padding: 0; 
  
  text-decoration: none; 
 
  text-align: center; 
  
  transition: background-color 0.3s, transform 0.3s; 
  height: 50px; 
  width: 120px; 
  margin: 0 15px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.nav-item:hover{
  background-color: #4D869C;
}

.text-dark{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a{padding: 20px;
margin: 20px;
}

.navbar-nav flex-grow-1{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0px;
}
.navbar-custom .navbar-nav .nav-item {
  background-color: black;
  color: black;
}
.mb-3{
  background-color: #e9f2ff;
  color: #e9f2ff;
}